<!DOCTYPE html>
<html lang="en" th:fragment="parent(content,title,script)" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title data-th-replace="${title}">Smart Contact Manager</title>
    <!-- Change this -->
    <!-- <link rel="stylesheet" th:href="@{/tailwind/css/output.css}">-->
    <!-- To this -->
    <script src="https://cdn.tailwindcss.com"></script>

    <link href="https://cdn.jsdelivr.net/npm/flowbite@3.1.2/dist/flowbite.min.css" rel="stylesheet" />
</head>
<body>
    <!-- Header Section -->
    <!-- <div th:replace="scm/fragments/header :: header"></div> -->
    
    <!-- Navigation Section -->
    <div th:replace="~{scm/fragments/navigation :: navigation}"></div>


     <!-- Main Content-->
      
     <div class="">
        <section data-th-replace="${content}"></section>
     </div>
     
     
    <!-- Footer Section -->
   <!--  <div th:replace="scm/fragments/footer :: footer"></div> -->


    <!-- Common Footer 
    <footer class="bg-gray-800 text-white mt-12">
        <div class="container mx-auto px-4 py-6">
            <p class="text-sm text-center">&copy; 2024 Smart Contact Manager. All rights reserved.</p>
        </div>
    </footer>-->


    <th:block data-th-replace="${script}"></th:block>
    <script src="https://cdn.jsdelivr.net/npm/flowbite@3.1.2/dist/flowbite.min.js"></script>
</body>
</html>